<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CountDownMapper">

    <resultMap type="CountDown" id="CountDownResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="startTime" column="start_time"/>
        <result property="countDownDay" column="count_down_day"/>
    </resultMap>

    <sql id="selectCountDownVo">
        select id, name, start_time, count_down_day
        from count_down
    </sql>

    <select id="selectCountDownList" parameterType="CountDown" resultMap="CountDownResult">
        <include refid="selectCountDownVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="startTime != null ">and start_time = #{startTime}</if>
            <if test="countDownDay != null ">and count_down_day = #{countDownDay}</if>
        </where>
    </select>

    <select id="selectCountDownById" parameterType="Long" resultMap="CountDownResult">
        <include refid="selectCountDownVo"/>
        where id = #{id}
    </select>

    <insert id="insertCountDown" parameterType="CountDown" useGeneratedKeys="true" keyProperty="id">
        insert into count_down
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="countDownDay != null">count_down_day,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="countDownDay != null">#{countDownDay},</if>
        </trim>
    </insert>

    <update id="updateCountDown" parameterType="CountDown">
        update count_down
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="countDownDay != null">count_down_day = #{countDownDay},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCountDownById" parameterType="Long">
        delete
        from count_down
        where id = #{id}
    </delete>

    <delete id="deleteCountDownByIds" parameterType="String">
        delete from count_down where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>